extends ./../partials/head
block content
  form.all-wrapper(method="POST" action="/auth/register" + (invitor ? "?code=" + invitor : ""))
    .all-inner-wrapper
      span.logo-name GENZY
      input.each-input(type="email" placeholder="E-Posta" name="email" required autofocus autocomplete="off")
      input.each-input(type="password" placeholder="Şifre" name="password" required autocomplete="off")
      input.each-input(type="password" placeholder="Şifre Tekrarı" name="password_confirm" required autocomplete="off")
      if error
        span.error-text= error
      button.send-button
        span Üye Ol
      span.agreement-text
        span Kaydolarak
        a(href="/agreement/user") Kullanıcı Sözleşmesini
        span kabul etmiş olursunuz.
      .register-link-wrapper
        span.register-text Zaten üye misin
        a.register-link(href="/auth/login") Giriş Yap
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
