extends ../partials/adminHeader
block main
  span Hoş geldiniz admin!
  span Eğer herhangi bir işlem sırasında bu sayfaya yönlendirilirseniz bu çoğu zaman işlemin bir hata verdiği ve gerçekleştirilemediği anlamına gelir. Böyle bir durumda lütfen yazılım ekibimizle iletişimi geçin ;)
  //- a(href="/admin/updateVersion") Güncellemeleri yüklemek için tıklayın
