extends ./../partials/head
block content
  form.all-wrapper(method="POST" action="/admin/login")
    span.logo-name usersmagic
    input.each-input(type="password" autofocus placeholder="Şifre" name="password" required autocomplete="off")
    button.send-button
      span Giriş Yap
    .bottom-wrapper
      a.brand-wrapper(href="/brand")
        img.brand-logo(src="/res/images/logo_black.png", alt="")
        span.brand-text #{__('Marka Sayfası')}
      span.copyright-text Copyright 2020 - Loy Yazılım
