extends ./../partials/head
block content
  .all-wrapper
    span.title Privacy Statement
    span.subtitle Privacy Statement GENZY
    span Last edited: 19 of June, 2020
    span This Policy might be updated; please make sure to check this page on a regular basis.
    span Welcome to GENZY.com, a website offered to you by Loy Yazılım Yasin Berk Yeşilyurt ( “Us”, or “We”). 
    br 
    span In order to enable you to take control of your personal data, we have created this easy to read privacy policy (“Policy”), meant to inform you on the processing of personal data via GENZY.com (‘Website’) and the handling of this data by us. The collection and processing of personal data through this Website is done in accordance with European data protection laws and Turkish Data Protection Law (KVKK). 
    br 
    span.subtitle Who are we?
    span GENZY’s mission is to provide a central point where products and target customers meet. It helps the growth process of products by making them tested. Central to this mission is our commitment to comply with the GDPR principles. We value your data and we are committed to being transparent about the data that we collect from you. 
    span Loy Yazılım Yasin Berk Yeşilyurt
    span Adress: Tekkeköy/Samsun Turkey Mobile Number: 0090 507 66 44 989
    span E-mail: hello@GENZY.com
    br 
    span.subtitle Which information do we collect and why?
    span GENZY collects several information from testers and products to match the products with the correct tester segments.
    span GENZY collects the following data from testers, 
    span email
    span Name/Surname
    span Gender
    span Phone Number 
    span Birthday
    span Current Institution of Education
    span Profession
    span GENZY collects these data in order to facilitate its services.
    span If you are a customer you can interact with us and other customers on this forum, as long as you have an account. In order to authenticate your information as an authorised user of GENZY, and to create and maintain a password protected account for you, we need to process your personal data. You always have the option of deleting your account. 
    br 
    span GENZY collects the following data from the companies via its website:
    br
    span.subtitle Legal Basis for Processing Personal Data
    span  These processing activities are necessary for the performance of contract, which in this case are the Website Services we offer through our Website, and the accompanying Terms of Use. 
    br 
    span.subtitle For how long will your data be stored?
    span GENZY will save your data for as long as it is necessary for the purpose for which it was provided. We regularly go through our systems to check if your personal data is still necessary for the purposes for which they were provided. 
    br 
    span.subtitle Is your personal data secure?
    span We make sure that everything you send to us via our Website is safe and secure. Our Website is hosted on a server located within the EU. GENZY takes appropriate technical and organisational measures to protect your personal data against loss, theft or other forms of unauthorised access/ use. We make sure that personal data is only accessible by those who need access to do their job and they are properly trained and authorised.
    span We also ensure that our partners have taken similar organisational and technical measures to protect your data from theft, loss or any kind of use that is not in line with the purposes for which the data was collected.
    br 
    span.subtitle How can you exercise your data subjects rights?
    span If you have any further questions regarding this privacy policy, or wish to exercise your right to object to processing of your personal data (like deletion, modification and access/portability), withdraw prior consent, or have any other concern, please send an e-mail to hello@GENZY.com
    br 
    span We will service your request as soon as possible, but within four weeks at the most
    br
    br
