extends ./../partials/head
block content
  .all-wrapper
    span.title USER AGREEMENT
    span 6 Temmuz 2020 tarihinden itibaren geçerlidir.
    span.subtitle 1. Giriş
    span.subtitle 1.1 Sözleşme
    span ‘’Hemen Başla’’ ifadesine tıklayarak, kaydolarak, erişimde bulunarak veya hizmetlerimizi kullanarak GENZY ile hukuki olarak bağlayıcı bir sözleşme akdetmiş olursunuz. Eğer bu sözleşmeyi kabul etmiyorsanız ‘’Hemen Başla’’seçeneğine tıklamayın ve hizmetlerimizden hiçbirine erişmeyin veya kullanmayın. Eğer bu sözleşmeyi sonlandırmak istiyorsanız, bunu dilediğiniz zaman hesabınızı kapatarak ve hizmetlerimize erişmeyi ve onları kullanmayı bırakarak yapabilirsiniz.
    span.subtitle Hizmetler
    span İşbu sözleşme GENZY’in site dışında yapılan veri toplama aktiviteleri de dahil olmak üzere GENZY in tüm faaliyetleri için geçerlidir. GENZY kullanıcılarına internet ortamında veya mobil telefonlarda üye işyerlerinin uygulamalarını değerlendirme, ürünlerini geliştirme ve karşılığında para kazanma imkanı sunar.
    span.subtitle GENZY Kullanıcı Sistemi
    span Her GENZY.com kullanıcısının GENZY.com sistemine bağlanabilmesi için kayıtlı e- posta adresi ile şifresini girmesi gereklidir. Bu işlem GENZY.com sitesine giriş yapmak şeklinde tanımlanmıştır.
    span ‘’Şifre’’ sadece ilgili kullanıcının bilgisi dahilindedir. Kullanıcı şifresi unutulduğu takdirde GENZY.com, talep üzerine kullanıcının GENZY.com sisteminde kayıtlı e-posta adresine yeni şifre oluşturabilmek için bağlantı gönderecektir. Şifrenin belirlenmesi ve korunması tamamıyla kullanıcın kendi sorumluluğundadır ve GENZY.com şifre kullanımından doğacak problemlerden veya oluşabilecek zararlardan kesinlikle sorumlu değildir.
    span GENZY.com kullanıcılarını GENZY.com sistemi dahilindeki yeni hizmet veya projelerden e-posta yolu ile haberdar edebilecektir.
    span GENZY.com kullanıcının sağladığı veriyi üye işyeri ile kullanıcının bilgisi dahilinde anonim şekilde paylaşacaktır.Bu sebepten dolayı üye işyeri ile kullanıcı arasında çıkabilecek her türlü problemden veya oluşabilecek zarardan kesinlikle sorumlu değildir.
    span GENZY.com sisteminin kullanılması ile oluşacak data ve verilerin tüm fikri haklarına sahiptir. GENZY.com, söz konusu bilgilerle kullanıcı üyelik bilgilerini açıklamadan demografik bilgiler içeren raporlar düzenleyebilir veya bu tarz bilgileri veya raporları kendisi kullanabilir ve bu rapor ve/veya istatistikleri iş ortakları ile üçüncü kişilerle bedelli veya bedelsiz paylaşabilir. Bu işlemler GENZY.com Gizlilik Politikası hükümlerine aykırılık etmez.
    span.subtitle 2. Yükümlülükler
    span Hizmetleri kullanmak için, şunları kabul etmektesiniz:
    span 1) Hizmetimizden faydalanmak için bir üye hesabı gereklidir.
    span 2) Kayıt esnasında, her üye ismini, soy ismini, e-posta adresini, telefon numarasını verir ve bir şifre seçer. E-posta adresi ve parola, üyenin başarılı bir şekilde kayıt olduktan sonra gelecekte oturum açabileceği erişim verileridir. Her üye yalnızca bir üye hesabı tutabilir.
    span 3) Üye, üye hesabını istediği zaman devre dışı bırakabilir.
    span 4) Hizmetlerimizi kullanmak için daha önceden kısıtlanmış olmamalısınız,
    span 5) Hatalı bilgilerle hesap oluşturmak koşullarımızın ihlal edildiği anlamına gelir,
    span 6) Yasalara göre 16 yaşındaki kullanıcılarımız asgari yaşa sahiptir, ebeveynlerinden onaysız hizmetlerimizden yararlanamamaktadırlar.
    span 7) Kanunlara göre iletilmesi yasak olan bilgileri iletmemeyi ve zincir posta, yazılım virüsü vb. gibi gönderilme yetkisi olmayan veriler kullanıcı tarafından paylaşılmamaktadır.
    span 8) GENZY.com hizmetleri kullanılarak elde edilen herhangi bir kayıt veya elde edilmiş malzemelerin tamamen kullanıcının rızası dahilindedir.
    span.subtitle 3. GENZY.com’a Tanınan Yetkiler
    span GENZY.com herhangi bir zamanda sistemin çalışmasını geçici bir süre askıya alabilir veya tamamen durdurabilir. Sistemin veya Online Ödeme Yöntemi kullanımının geçici bir süre askıya alınması veya tamamen durdurulmasından dolayı GENZY.com’un kullanıcılarına veya üçüncü kişilere karşı hiçbir sorumluluğu olmayacaktır.Kullanıcı adı veya e-posta ile şifre GENZY.com tarafından sunulan başvuru alanlarının doldurulmasından sonra görüntülenecek ve onaylanacaktır. GENZY.com kullanıcı kayıt formunu eksiksiz doldurmuş üyelerin veya GENZY.com sistemine giriş yapan kullanıcıların yeni bir şifreye sahip olmalarını veya şifrelerini kullanmalarını münhasıran süresiz olarak engelleyebilecektir.GENZY.com, hizmetlerinin zamanında, güvenli ve hatasız olarak sunulması, hizmet kullanımından elde edilen sonuçların doğru ve güvenilir olması, hizmet kalitesinin beklentilere cevap vermesi için gerekli özeni gösterecektir ancak bunları taahhüt etmemektedir.GENZY.com kullanıcıların sistemden yararlanmaları sırasında ortamda bulunduracakları dosyaların, mesajların bazılarını veya tamamını uygun göreceği periyotlarla yedekleme ve silme yetkisine sahiptir. Yedekleme ve silme işlemlerinden dolayı GENZY.com sorumlu tutulmayacaktır.GENZY.com kendi ürettiği ve/veya dışardan satın aldığı bilgi, belge, yazılım, tasarım, grafik vb. eserlerin mülkiyet ve mülkiyetten doğan telif haklarına sahiptir. GENZY.com, ileride doğacak teknik zaruretler ve mevzuata uyum amacıyla kullanıcıların aleyhine olmamak kaydıyla işbu Sözleşme’nin uygulamasında değişiklikler yapabilir, mevcut maddelerini değiştirebilir veya yeni maddeler ilave edebilir.GENZY.com üye şirketlerin sağladığı içerikten sorumlu değildir.
    span.subtitle 4. Ödeme
    span GENZY.com kullanıcıları, site üzerinden gerçekleştirdikleri değerlendirmelerin sonuçları karşılığında kazanacakları ücreti Online ödeme yöntemleri Paypal veya Papara üzerinden kendi hesaplarına alacaklardır. Ödemelerimiz https://www.paypal.com/tr/home ve https://www.papara.com/ hesaplarınıza direkt yapılacağından GENZY hiçbir hesap detayınızı kullanmayacaktır. GENZY.com online ödeme yöntemi kullanılarak kullanıcıya ödemeyi yapmakla yükümlüdür.
    span.subtitle 5. ‘’Para Kazanın’’ modülünü kullanmak için özel hüküm
    span.subtitle 5.1 ‘’Para Kazanın’’ Modülü Tanımı
    span 1) GENZY GENZY.com web sitesinde ve ilgili uygulama üzerinden bir sipariş ve pazar araştırma platformu işletir.
    span 2) ‘’Para Kazanın’’ modülü kullanıcının sağladığı bilgiler doğrultusunda elde edeceği para miktarını belirtmektedir. (kullanıcı anketleri, ürün değerlendirmesi, websitesi değerlendirmesi vb.)
    span 3) GENZY.com, iznini beyan etmiş kullanıcılara söz konusu ürün değerlendirme kampanyaları hakkında bilgi verir.
    span 4) Kullanıcı değerlendirme sonuçlarını bildirir ve sağlayıcı bu değerlendirmenin uygunluğunu kontrol eder.
    span 5) Yukarıda belirtilen sürecin ardından kullanıcı TL olarak kampanyada belirtilen tutarı elde eder.
    span.subtitle 5.2 Kullanıcı Yükümlülükleri
    span 1) Kullanıcı, uygulama değerlendirmelerini öz iradesine dayanarak, bağımsız, adil ve ölçülü yapmakla yükümlüdür.
    span 2) Kullanıcı, kendi açık rızası ile kendisi hakkında ek bilgi paylaşımında bulunabilir.
    span 3)Kullanıcı, kampanya son değerlendirme tarihi haricinde hiçbir mekan ve zaman kısıtlamasına tabi değildir.
    span 4) ‘’Para Kazanın’’ modülü, kullanıcı ve GENZY.com arasında işçi-işveren ilişkisi oluşturmaz.
    span 5) Kullanıcılar, değerlendirmeleri yaparken tamamen kendi açık rızaları dahilinde hareket etmektedirler.
    span.subtitle 6. Yürürlülük
    span İşbu Sözleşme taraflar arasında kullanıcının, kullanıcı kayıt formunu doldurmasından itibaren süresiz olarak yürürlülüğe girer.
    span.subtitle 7. Kişisel Veri
    span Kişisel verilerin korunması, GENZY.com şirket öncelikleri ve temel ilkeleri arasında yer almaktadır. Kişisel Veri Koruma politikasını inceleyiniz.
    span.subtitle 8. Fesih
    span Taraflar işbu Sözleşme’yi diledikleri zaman sona erdirebileceklerdir. Sözleşmenin feshi anında tarafların birbirlerinden olan alacak hakları etkilenmez.
