extends ./../partials/head
block content
  .all-wrapper
    .all-inner-wrapper
      span.logo-name GENZY
      span.logo-subtitle Sorulara Cevap Ver, Para Kazan!
      a.register-button(href="/auth/register")
        span Hemen Başla
      .login-wrapper
        span.login-text Zaten üye misin?
        a.login-link(href="/auth/login") Giriş Yap
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
